# Exploratory Data Analysis (Andreas/ Crow)

In [1]:
# Importing packages
import math as math
import numpy as np
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
import matplotlib.pyplot as plt
import scipy.stats as stats
from sklearn import datasets, linear_model, metrics
import seaborn as sns
plt.style.use('seaborn')
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [6]:
# Loading the data
file = pd.read_csv('Finalmoviefile.csv')
file.head()

,title,year,genres,avg rating,rating,tags
0,"Trip to the Moon, A (Voyage dans la lune, Le)",1902,Action,3.50,3.5|4.5|3.0|3.5|3.0,NaN
1,The Great Train Robbery,1903,Crime,2.50,4.0|1.0,NaN
2,The Electric Hotel,1908,Animation,4.00,4,NaN
3,"Birth of a Nation, The",1915,Drama,2.00,2,NaN
4,"20,000 Leagues Under the Sea",1916,Action,3.75,4.0|3.5,NaN

In [7]:
# Checking the data. 
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9724 entries, 0 to 9723
Data columns (total 6 columns):
title         9724 non-null object
year          9724 non-null object
genres        9724 non-null object
avg rating    9724 non-null float64
rating        9724 non-null object
tags          1554 non-null object
dtypes: float64(1), object(5)
memory usage: 455.9+ KB

In [8]:
# Summary of data.
file.describe()

        avg rating
count  9724.000000
mean      3.262644
std       0.869882
min       0.500000
25%       2.800000
50%       3.420000
75%       3.910000
max       5.000000

In [ ]:
# Plotting year (x) vs. average rating (y). 
plt.scatter(file['year'], file['rating'], marker='o')
plt.xlabel("year")
plt.ylabel("rating")
plt.show()

In [ ]:
#Grouping data by category genres
file.groupby(['genres']).count()